name = "do-worker"
# type = "javascript" is required to use the `[build]` section
type = "javascript"
account_id = "03bac747018bef5f4ad236a15c22c360"
workers_dev = true
route = ""
zone_id = ""

[build]
command = "npm install && npm run build"
[build.upload]
# The "modules" upload format is required for all projects that export a Durable Objects class
format = "modules"
main = "./index.mjs"

[durable_objects]
bindings = [{name = "COUNTER", class_name = "Counter"}]
